In [8]:
#Import the CSV in a dataframe
import pandas as pd
group4_csv = ("Downloads\CarSalesByModelStart.csv")
df = pd.read_csv(group4_csv)
print(df.head())

   Year    Month                 Date      Model  Dealer ID  Quantity Sold  \
0  2018  January  2018-01-01 23:00:00   Beaufort       1222             10
1  2018  January  2018-01-01 23:00:00     Salish       1222             13
2  2018  January  2018-01-01 23:00:00   Labrador       1222             16
3  2018  January  2018-01-01 23:00:00  Champlain       1222              3
4  2018  January  2018-01-01 23:00:00     Hudson       1222             22

    Profit
0  15000.0
1  39650.0
2  12800.0
3   6900.0
4  11000.0

<>:3: SyntaxWarning: invalid escape sequence '\C'
<>:3: SyntaxWarning: invalid escape sequence '\C'
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_23200\521566917.py:3: SyntaxWarning: invalid escape sequence '\C'
  group4_csv = ("Downloads\CarSalesByModelStart.csv")

In [11]:
#Add a column to the dataframe
df['Price'] = 100
print(df)

      Year     Month                 Date      Model  Dealer ID  \
0     2018   January  2018-01-01 23:00:00   Beaufort       1222
1     2018   January  2018-01-01 23:00:00     Salish       1222
2     2018   January  2018-01-01 23:00:00   Labrador       1222
3     2018   January  2018-01-01 23:00:00  Champlain       1222
4     2018   January  2018-01-01 23:00:00     Hudson       1222
...    ...       ...                  ...        ...        ...
1195  2019  December  2019-12-01 23:00:00   Beaufort       1288
1196  2019  December  2019-12-01 23:00:00     Salish       1288
1197  2019  December  2019-12-01 23:00:00   Labrador       1288
1198  2019  December  2019-12-01 23:00:00  Champlain       1288
1199  2019  December  2019-12-01 23:00:00     Hudson       1288

      Quantity Sold   Profit  Price
0                10  15000.0    100
1                13  39650.0    100
2                16  12800.0    100
3                 3   6900.0    100
4                22  11000.0    100
...             ...      ...    ...
1195             12  18000.0    100
1196             14  42700.0    100
1197             18  14400.0    100
1198              4   9200.0    100
1199             25  12500.0    100

[1200 rows x 8 columns]

In [13]:
#Perform describe and info on dataframe
df.describe()

              Year    Dealer ID  Quantity Sold        Profit   Price
count  1200.000000  1200.000000     1200.00000   1200.000000  1200.0
mean   2018.500000  1281.800000       17.99750  24974.065417   100.0
std       0.500208    72.453672        9.97432  17370.756737     0.0
min    2018.000000  1212.000000        2.00000   4600.000000   100.0
25%    2018.000000  1217.000000       11.00000  13500.000000   100.0
50%    2018.500000  1256.000000       18.00000  18500.000000   100.0
75%    2019.000000  1336.000000       24.00000  28923.000000   100.0
max    2019.000000  1402.000000       48.00000  83875.000000   100.0

In [16]:
#Perform describe and info on dataframe
print("Dataframe Info")
df.info()

Dataframe Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           1200 non-null   int64
 1   Month          1200 non-null   object
 2   Date           1200 non-null   object
 3   Model          1200 non-null   object
 4   Dealer ID      1200 non-null   int64
 5   Quantity Sold  1200 non-null   int64
 6   Profit         1200 non-null   float64
 7   Price          1200 non-null   int64
dtypes: float64(1), int64(4), object(3)
memory usage: 75.1+ KB